{% extends "webtemplate_dbca/base_b5.html" %}

{% block extra_css %}
	<link rel="icon" type="image/png" href="/static/govapp/favicon.ico">
{% endblock %}

{% block extra_js %}
<script src="/static/js/common.pagination.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kbpublish.pagination.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kbpublish.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kbcatalogue.attribute.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kbcatalogue.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kblayersubmission.js?ver={{ GIT_COMMIT_HASH }}"></script>
<script src="/static/js/kbmanagementcommands.js?ver={{ GIT_COMMIT_HASH }}"></script>
<!-- any extra javascript goes here -->
{% endblock %}

{% block header_top_menu %}
{% endblock %}

{% block top_menu %}
{% endblock %}

{% block menubottom %}
<!-- value -->
{%endblock %}

{% block menu_items_left_brand %}
{%endblock %}


{% block menu_items2_right %}
{% if request.user.is_authenticated %}

{% else %}
<a href="/ssologin" class="btn btn-primary btn-sm">Login</a>
{% endif %}
{% endblock %}


{% block menu_spacer %}
<BR>
{% endblock %}

{% block extra_style %}
<style>
    .footer {
        background-color: lightgrey
    }
</style>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <!-- Messages  -->
    {% if messages %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            {% block page_content_inner %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}
