{% extends "webtemplate_dbca/base_b5.html" %}

{% block extra_css %}
    <link rel="icon" type="image/png" href="/static/govapp/favicon.ico">

    <link type="text/css" href="/static/common/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet">

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/common/node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="/static/common/node_modules/vue/dist/vue.global.prod.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="/static/common/node_modules/moment/min/moment.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script type="text/javascript" src="static/govapp/js/ol.js"></script>

{% endblock %}

{% block header_top_menu %}
    <style>
       @font-face { font-family: "Glyphicons Halflings"; src: url('/static/ps/fonts/glyphicons-halflings-regular.ttf');}
    </style>
{% endblock %}

{% block  top_menu %}
<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>

<li>
         <button type="button" class="btn btn-sm btn-secondary">
                  Notification 1 <span class="badge bg-danger">14</span>
         </button>

</li>
{% endblock %}

{% block menubottom %}
MENU 2
{%endblock %}

{% block menu_items_left_brand %}
<a class="navbar-brand" href="{% url 'home'%}">&nbsp;Home</a>
<a href=''></a>
{%endblock %}


{% block menu_items2_right %}
 {% if request.user.is_authenticated %}

 {% else %}
    <a href="/ssologin" class="btn btn-primary btn-sm">Login</a>
 {% endif %}
{% endblock %}


{% block menu_spacer %}
 <BR>
{% endblock %}








{% block extra_style %}
<style>
    .footer {background-color: lightgrey}
</style>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <!-- Messages  -->
        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                {% block page_content_inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108679294-1"></script>
                <script>
                                    window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-108679294-1');
        </script>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}


