{% include "govapp/common_entity_modal.html" %}

<div class="card mt-2">
      <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                  <div class="col-6">Details</div>
                  <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                  </div>
            </div>
      </div>

      <div class="card-body collapse show" id="box1-card-body">
            <div class='row'>
                  <div class='col-3'>Name</div>
                  <div class='col-5 p-1'>
                        {% comment %}
                        {% if catalogue_entry_obj.type == 1 %}
                              {% if has_edit_access %}
                                    <input type="text"  class="form-control" id="catalogue-entry-name" value="{{ catalogue_entry_obj.name }}" >
                              {% else %}
                                    {{ catalogue_entry_obj.name }}
                              {% endif %}
                        {% else %}
                              {% if has_edit_access %}
                                    <input type="hidden"  class="form-control" id="catalogue-entry-name" value="{{ catalogue_entry_obj.name }}" >
                                    {{ catalogue_entry_obj.name }}  
                              {% else %}
                                    {{ catalogue_entry_obj.name }}
                              {% endif %}
                        {% endif %} 
                        {% endcomment %} 
                        
                        <input type="hidden" class="form-control" id="catalogue-entry-name" value="{{ catalogue_entry_obj.name }}">
                        {{ catalogue_entry_obj.name }}
                  </div>
            </div>
            <div class="row">
                  <div class='col-3'>Custodian</div>
                  <div class='col-5 p-1'>
                        {% if has_edit_access %}
                              <select type="text" class="form-control" id="catalogue-custodian-entry" >
                                    <option value="">Select One</option>
                                    {% for cd in custodians_obj %}
                                          {% if catalogue_entry_obj.custodian.id == cd.id %} 
                                                <option value="{{ cd.id }}" selected>{{ cd.name }}</option>
                                          {% else %}
                                                <option value="{{ cd.id }}">{{ cd.name }}</option>
                                          {% endif %}
                                    {% endfor %}
                              </select>
                        {% else %}
                              {{ catalogue_entry_obj.custodian.name }}
                        {% endif %}
                  </div>
            </div>
            <div class="row">
                  <div class='col-3'>Last Updated Date Time</div>
                  <div class='col-5 p-1'>
                        {{ catalogue_entry_obj.updated_at }}
                  </div>
            </div>
            <div class="row">
                  <div class='col-3'>Spatial Type</div>
                  <div class='col-5 p-1'>
                        {% if catalogue_entry_obj.type == CatalogueEntryType.SPATIAL_FILE.value %}
                              Spatial File
                        {% elif catalogue_entry_obj.type == CatalogueEntryType.SUBSCRIPTION_WFS.value %}
                              Subscription WFS
                        {% elif catalogue_entry_obj.type == CatalogueEntryType.SUBSCRIPTION_WMS.value %}
                              Subscription WMS
                        {% elif catalogue_entry_obj.type == CatalogueEntryType.SUBSCRIPTION_POSTGIS.value %}
                              Subscription PostGIS
                        {% elif catalogue_entry_obj.type == CatalogueEntryType.SUBSCRIPTION_QUERY.value %}
                              Custom Query
                        {% endif %}
                  </div>
            </div>
            {% if display_layer_subscription_field %}
                  <div class="row">
                        <div class='col-3'>Layer Subscription</div>
                        <div class='col-5 p-1'>
                              {% if catalogue_entry_obj.layer_subscription %}
                                    <a href="/layer/subscriptions/{{ catalogue_entry_obj.layer_subscription.id }}/" target="_blank" style="text-decoration: none;">{{ catalogue_entry_obj.layer_subscription.name }}</a>
                              {% else %}
                                    No Layer Subscription
                              {% endif %}
                        </div>
                  </div>
            {% endif %}
            <div class="row">
                  <div class='col-3'>Permission Type</div>
                  <div class='col-5 p-1'>
                        {% if has_edit_access %}
                              <select type="text" class="form-control" id="catalogue-permission-type" >
                                    <option value="">Select One</option>
                                    {% for value, label in CatalogueEntryPermissionType.choices %}
                                          {% if catalogue_entry_obj.permission_type == value %} 
                                                <option value="{{ value }}" selected>{{ label }}</option>
                                          {% else %}
                                                <option value="{{ value }}">{{ label }}</option>
                                          {% endif %}
                                    {% endfor %}
                              </select>
                        {% else %}
                              {% if catalogue_entry_obj.permission_type == CatalogueEntryPermissionType.NOT_RESTRICTED.value %}
                                    Not restricted {% include 'govapp/public_icon.svg' %}
                              {% elif catalogue_entry_obj.permission_type == CatalogueEntryPermissionType.RESTRICTED.value %}
                                    Restricted {% include 'govapp/restricted_icon.svg' %}
                              {% endif %}
                        {% endif %}
                  </div>
            </div>
      </div>
</div>

<div class="card mt-2">
        <div class="card-header fw-bold h4" style="padding:30px;">
              <div class="row">
              <div class="col-6">
                    Description
              </div>
              <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i>
              </div>
              </div>         
        </div>
        <div class="card-body collapse show" id="box2-card-body">
              <div class='row'>
                    <div class='col-12'>
                          {% if has_edit_access %}     
                                <textarea class="form-control"id="catalogue-entry-description" rows="3">{{ catalogue_entry_obj.description }}</textarea>                                    
                          {% else %}
                                {{ catalogue_entry_obj.description }}
                          {% endif %}
                    </div>
              </div>
        </div>
</div>

<div class="card mt-2">
        <div class="card-header fw-bold h4" style="padding:30px;">
              <div class="row">
              <div class="col-6">
                    Notification
              </div>
              <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box4-card-body" onclick=""></i>
              </div>
              </div>         
        </div>
        <div class="card-body collapse show" id="box4-card-body">
            <div class="col-12 text-end">
            {% if has_edit_access %}
                  <button class="btn btn-primary btn-sm left" id='catalogue-detail-btn-add-notification' aria-current="page" >Add Notification</button>
            {% endif %}
            </div>
            <div class='col-12 pt-2 pb-2 '>
                  <div class='row'>
                        <div class='col-6'>
                              <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                          <div class="dataTables_length" id="bookings-table_length">
                                                <label>Show
                                                      <select name="bookings-table_length"
                                                            aria-controls="bookings-table"
                                                            class="form-select form-select-sm"
                                                            id="catalogue-detail-notification-limit">
                                                            <option value="5">5</option>
                                                            <option value="10" >10</option>
                                                            <option value="25" selected>25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                      </select> entries
                                                </label>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class='col-6 text-end'>
                              <div class="row">
                                    <div class="col-sm-12 col-md-12 text-end">
                                          <div class="dataTables_length" id="bookings-table_length">
                                                <label>Order By
                                                      <select name="bookings-table_length"
                                                            aria-controls="bookings-table"
                                                            class="form-select form-select-sm"
                                                            id="catalogue-detail-notification-order-by">
                                                            <option value="id">ID</option>
                                                            <option value="name">Name</option>
                                                            <option value="type">Type</option>
                                                            <option value="email">Email</option>
                                                            <option value="active">Active</option>
                                                      </select>
                                                </label>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <div id='publish-table'>
                  <table id="example" class="table" style="width:100%">
                        <thead class='table-dark'>
                              <tr>
                                    <th class="col-1">Id</th>
                                    <th class="col-2">Name</th>
                                    <th class="col-2">Type</th>
                                    <th class="col-4">Email</th>
                                    <th class="col-1">Active</th>
                                    <th class='col-2'>Action</th>
                              </tr>
                        </thead>
                        <tbody id='catalogue-detail-notification-tbody'>
                              <tr>
                                    <td colspan="7" class='text-center'>No Results</td>
                              </tr>
                        </tbody>
                  </table>
                  <nav aria-label="Page navigation example" id='catalogue-detail-notification-pagination'>
                        <ul class="pagination justify-content-end" id='notification-paging-navi'>
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                  </nav>
            </div>
        </div>
</div>
  
<div class='row mt-2'>
      <div class='col-12 text-end'>
            {% if has_edit_access %}
                  <button class="btn btn-primary" id='catalogue-entry-btn-save' aria-current="page" >Save</button>  
                  <!-- <button class="btn btn-primary" id='catalogue-entry-btn-save-exit'  aria-current="page" >Save and exit</button>   -->
            {% endif %}
      </div>
</div>

<style>
      .public-icon, .restricted-icon{
            width: 16px;
            height: 16px;
            fill: gray;
            color: gray;
            margin-right: .5em;
      }
</style>

<script>
      kbcatalogue_detail.init_catalogue_detail();
</script>
