<div class="modal fade" id="catalogue-detail-notification-modal" tabindex="-1" aria-labelledby="NewCatalogueAttributeModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-xl">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="catalogue-detail-notification-modal-label">title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body col-12">
                    <div class="alert alert-danger" role="alert" id='catalogue-detail-notification-popup-error' style='display:none'>
                    </div>

                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" id="catalogue-detail-notification-name" value="" autocomplete="off">
                    </br>

                    <label for="" class="form-label">Type</label>
                    <select type="text" class="form-control" id="catalogue-detail-notification-type"> </select>
                    </br>

                    <label for="" class="form-label">Email</label>
                    <input class="form-control" id="catalogue-detail-notification-email" type="email">
                    </br>

                    <label for="" class="form-label">Active</label>
                    <div class="form-check form-switch">
                         <input class="form-check-input" type="checkbox" role="switch" id="catalogue-detail-notification-active" checked>
                    </div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id='catalogue-detail-notification-submit-btn'>Submit</button>
               </div>
          </div>
     </div>
     </form>
</div>