{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/catalogue_entries_modal_upload_catalogue.html" %}
      
      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">

      <div class="container" id="dashboard-table-container">
 
            {% include "govapp/catalogue_nav.html" %}

                  <div class="card" >
                        <div class="card-header fw-bold h4" style="padding:30px;">
                              <div class="row">
                              <div class="col-6">
                                    Catalogue Entries
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>         
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="col-12 bg-light p-3">
                              <B>Filters</B>
                              <div class='row'>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="catalogue-name" class="form-label">Name</label>
                                                      <input type="text" class="form-control" id="catalogue-name" >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="catalogue-custodian" class="form-label">Custodian</label>
                                                      <select type="text" class="form-select" id="catalogue-custodian" >
                                                      </select>
                                                </div>
                                                <div class='col-3'>
                                                      <label for="catalogue-status" class="form-label">Status</label>
                                                      <select type="text" class="form-control" id="catalogue-status" >
                                                            <option value="">All</option>
                                                            <option value="1">New Draft</option>
                                                            <option value="2">Locked</option>
                                                            <option value="3">Declined</option>
                                                            <option value="4">Draft</option>
                                                            <option value="4"></option>
                                                      </select>
                                                </div>
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="catalogue-lastupdatedfrom" class="form-label">Last Updated From</label>
                                                      <input type="text" class="form-control" id="catalogue-lastupdatedfrom"  placeholder="Select Date"  >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="catalogue-lastupdatedto" class="form-label">Last Updated To</label>
                                                      <input type="text" class="form-control" id="catalogue-lastupdatedto" placeholder="Select Date"  >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="catalogue-assignedto" class="form-label">Assigned To</label>
                                                      
                                                      <select type="text" class="form-select" id="catalogue-assignedto" >
                                                      </select>
                                                </div>
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class='col-12'>
                                    <div class='row'>
                                          <div class='col-3'>
                                                <label for="e1" class="form-label">Description</label>
                                                <input type="text" class="form-control" id="catalogue-description" >

                                          </div>
                                          <div class='col-3'>
                                                <label for="publish-number" class="form-label">Number</label>
                                                <input type="text" class="form-control" id="catalogue-number" >
                                          </div>
                                          <div class='col-3'>
                                                &nbsp;
                                          </div>
                                          <div class='col-3 p-4'>
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='catalogue-filter-btn'>Filter</button>
                                                &nbsp;
                                          </div>
                                    </div>
                              </div>                        
                        </div>                  

                        <div class='row'>
                              <div class='col-12 pt-2 pb-2 text-end'>
                                    {% if is_catalogue_admin %}
                                    <button class="btn btn-primary btn-sm" aria-current="page" id='upload-catalogue-btn'>Upload Catalogue</button>
                                    {% endif %}
                              </div>
                        </div>

                        <!-- <div class='row'>
                              <div class='col-12 text-end'>
                                    <button class="btn btn-secondary btn-sm" aria-current="page" href="#">Excel</button>
                                    <button class="btn btn-secondary btn-sm" aria-current="page" href="#">CSV</button>
                              </div>
                        </div> -->

                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-8'>
                                          <div class="dataTables_length" id="bookings-table_length">
                                                <label>Show 
                                                      <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="catalogue-limit">
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="25" selected>25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                      </select> entries
                                                </label>
                                          </div>
                                    </div>
                                    <div class='col-2 text-end'>
                                          <div class="dataTables_length" id="bookings-table_length">
                                                <label>Ordering Direction</label>
                                                <select name="catalogue-ordering-direction" aria-controls="catalogue-ordering-direction" class="form-select form-select-sm" id="catalogue-ordering-direction" >
                                                      <option value="asc">Ascending</option>
                                                      <option value="desc">Descending</option>
                                                </select> 
                                          </div>
                                    </div>
                                    <div class='col-2 text-end'>
                                          <div class="dataTables_length" id="bookings-table_length">
                                                <label>Order By 
                                                      <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="catalogue-order-by">
                                                            <option value="id">ID</option>
                                                            <option value="name">Name</option>
                                                            <option value="status">Status</option>
                                                            <option value="updated_at">Last Updated</option>
                                                            <option value="assigned_to">Assigned To</option>
                                                            <option value="custodian">Custodian</option>
                                                      </select> 
                                                </label>
                                          </div>
                                    </div>
                              </div>
                        </div>     
                        <div id='publish-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Spatial Type</th>
                                          <th>Permission Type</th>
                                          <th>Custodian</th>
                                          <th>Status</th>
                                          <th>Last Updated</th>
                                          <th>Assigned To</th>
                                          <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='publish-tbody'>
                                    <tr>
                                          <td colspan="8" class='text-center'>Loading...</td>
                                    </tr>
                                    </tbody>
                              </table>   
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id="paging_navi">
                                    </ul>
                              </nav>
                        </div>
                  </div>
            </div>
      </div>
      <style>
      .public-icon, .restricted-icon{
            width: 16px;
            height: 16px;
            fill: gray;
            color: gray;
            margin-right: .5em;
      }
      </style>
      <script>
            kbcatalogue.init_dashboard();
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
