<div class="modal fade" id="NewCatalogueAttributeModal" tabindex="-1" aria-labelledby="NewCatalogueAttributeModal" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
         <div class="modal-content">
              <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">New Catalogue Attribute</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <div class="alert alert-danger" role="alert" id='new-catalogue-attribute-popup-error' style='display:none'>
              </div>
              <div class="alert alert-success" role="alert" id='new-catalogue-attribute-popup-success' style='display:none'>
              </div>
              <form>
          </div>
         <div id='publish-new-div'>
 
         <div class='col-12 round-box px-3 ' id='publish-new-form'>
             <div class='row'>
                    <div class='col-12'>
                         <label for="" class="form-label">Name</label>
                         <input type="text" class="form-control" id="new-catalogue-attribute-name" value="" autocomplete="off">
                    </div>
                    <div class='col-12'>
                         <label for="" class="form-label">Type</label>
                             <select type="text" class="form-control" id="new-catalogue-attribute-type" >
                                  <option value="">Select One</option>                                  
                            </select>

                         </select>
                    </div>
 
                    <div class='col-12'>
                         <label for="" class="form-label">Order</label>
                         <input class="form-control"id="new-catalogue-attribute-order"  type='text'>
                         
                    </div>

             </div>
          </div>
    
         </div>
 
          <div class='col-12 px-3'>
                    <div class='col-12'>
                             <div class='col-12'>
                             <label for="" class="form-label">&nbsp;</label>
                             </div>
                             <div class='col-12 text-end'>
                                  <button type="button" class="btn btn-primary booking-policy-save" id='create-publish-btn'>Create</button>                                   
                                  &nbsp;&nbsp;
                                  
                                  <div class="spinner-border text-primary" role="status" style="display:none" id="newpublish-loader-popup">
                                       <span class="visually-hidden">Loading...</span>
                                  </div>
                                  &nbsp;&nbsp;&nbsp;
                                  <BR>
                             </div>
                             <BR>
                    </div>
             </div>
         </div>         
       </div>
       </form>
  
       <div class="modal-footer">
       </div>
     </div>
 