<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if tab == 'catalogue_entries' %}active{% endif %}" aria-current="page" href="/catalogue/entries/">Catalogue Entries</a>
    </li>
    <li class="nav-item">
          <a class="nav-link {% if tab == 'layer_submission' %}active{% endif %}" aria-current="page" href="/layer/submission/">Layer Submission</a>
    </li>
    <li class="nav-item">
          <a class="nav-link {% if tab == 'layer_subscriptions' %}active{% endif %}" aria-current="page" href="/layer/subscriptions/">Layer Subscriptions</a>
    </li>
</ul>
    