<input type='hidden' value='{{ layer_symbology.id }}' name='catalogue-entry-symbology-definition-id' id='catalogue-entry-symbology-definition-id'>

<div class="card" >
    <div class="card-header fw-bold h4" style="padding:30px;">
          <div class="row">
          <div class="col-6">
                Symbology Definition
          </div>
          <div class="col-6 text-end">
                <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i>
          </div>
          </div>         
    </div>
    <div class="card-body collapse show" id="box2-card-body">
          <div class='row'>
                <div class='col-12'>
                      {% if has_edit_access is True %}
                            <textarea class="form-control" rows='20' id="catalogue-entry-symbology-definition" >{{ layer_symbology.sld }}</textarea>                                    
                            &nbsp;
                      {% else %}
                            <textarea readonly class="form-control" rows='20' > {{ layer_symbology.sld }}</textarea>      
                      {% endif %}
                </div>
          </div>
    </div>
</div>
<BR>
    <div class='col-12 pt-2'>
        <div class='row'>
              <div class='col-6'>
                    &nbsp;
              </div>
              <div class='col-6 text-end'>
                    {% if has_edit_access is True %}
                          <button class="btn btn-primary" id='catalogue-entry-symbology-btn-save' aria-current="page" >Save</button>  
                          <button class="btn btn-primary" id='catalogue-entry-symbology-btn-save-exit'  aria-current="page" >Save and exit</button>  
                    {% endif %}
              </div>
    
        </div>
      </div>