<style>
  .error-message {
    color: #f33;
  }
  .modal-content {
    border: 6px solid transparent;
    box-sizing: border-box;
  }
  .modal-content.dragover {
    border-color: #cff4fc;
  }
  .delete-icon {
    display: inline-block;
    cursor: pointer;
    stroke: darkgray;
  }
  .delete-icon:hover svg path{
    stroke: coral;
    /* background-color: red; */
  }
  .custom-file-upload input[type="file"] {
    display: none;
  }
  .custom-file-label {
    border: 1px solid #0d6efd; /* border colour */
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #0d6efd; /* background colour */
    color: white;
    transition: all 0.3s ease;
  }

  /* hover */
  .custom-file-label:hover {
      background-color: #0b5ed7;
      border-color: #0b5ed7;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
</style>

<div class="modal fade" id="modal_upload_catalogue" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Zipped Layer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          Drop file(s) into this window or click the button below to browse.
        </div>
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="mb-3 custom-file-upload">
            <label for="fileInput" class="form-label custom-file-label">Select File(s)<br/><span style="font-size: 0.8em;">{{ extensions }}</span></label>
            <input type="file" class="form-control" id="fileInput" accept=".zip,.7z" multiple>
          </div>
        </form>
        <div id="progressBars">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel_upload_catalogue_btn">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="submit_upload_catalogue_btn">Submit</button>
      </div>
    </div>
  </div>
</div>
