{% include "govapp/common_entity_modal.html" %}



<div class="pt-2" id="dashboard-table-container">

      <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
                  <div class="row">
                        <div class="col-6">
                              Attribute Table Definition
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box18-card-body"  onclick=""></i>
                        </div>
                  </div>
            </div>
            <div class="card-body collapse show" id="box18-card-body">
                  <div class='col-12 text-end'>
                        {% if has_edit_access is True %}
                              <button class="btn btn-primary btn-sm" aria-current="page"
                                    id='catalogue-attribute-new-btn'>New Attribute Column</button>
                        {% endif %}
                  </div>

                  <div class='col-12 pt-2 pb-2 '>
                        <div class='row'>
                              <div class='col-6'>
                                    <div class="dataTables_length" id="bookings-table_length">
                                          <label>Show
                                                <select name="bookings-table_length"
                                                      aria-controls="bookings-table"
                                                      class="form-select form-select-sm"
                                                      id="catalogue-attribute-limit">
                                                      <option value="5">5</option>
                                                      <option value="10" >10</option>
                                                      <option value="25" selected>25</option>
                                                      <option value="50">50</option>
                                                      <option value="100">100</option>
                                                </select> entries
                                          </label>
                                    </div>
                              </div>
                              <div class='col-6 text-end'>
                                    <div class="dataTables_length" id="bookings-table_length">
                                          <label>Order By
                                                <select name="bookings-table_length"
                                                      aria-controls="bookings-table"
                                                      class="form-select form-select-sm"
                                                      id="catalogue-attribute-order-by">
                                                      <option value="id">ID</option>
                                                      <option value="name">Name</option>
                                                      <option value="type">Type</option>
                                                      <option value="order">Order</option>
                                                </select>
                                          </label>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div id='publish-table'>
                        <table id="example" class="table" style="width:100%">
                              <thead class='table-dark'>
                                    <tr>
                                          <th class="col-2">Id</th>
                                          <th class="col-4">Name</th>
                                          <th class="col-2">Type</th>
                                          <th class="col-2">Order</th>
                                          <th class="col-2">Action</th>
                                    </tr>
                              </thead>
                              <tbody id='catalogue-attribute-tbody'>
                                    <tr>
                                          <td colspan="7" class='text-center'>No Results</td>
                                    </tr>
                              </tbody>
                        </table>
                        <nav aria-label="Page navigation example" id='catalogue-attribute-pagination'>
                              <ul class="pagination justify-content-end" id='paging_navi'>
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                        </nav>
                  </div>
                  
            </div>
      </div>
</div>
<script>
      kbcatalogue_attribute.init_catalogue_attribute();
</script>