{% include "govapp/common_entity_modal.html" %}

<div class="card mt-2">
    <div class="card-header fw-bold h4" style="padding:30px;">
          <div class="row">
          <div class="col-6">
                Meta Data 
          </div>
          <div class="col-6 text-end">
                <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i>
          </div>
          </div>         
    </div>
    <div class="card-body collapse show" id="box2-card-body">        
        <div class='row'>
            <div class='col-3'>
                Created
            </div>
            <div class='col-9 p-1'>
                    {{ catalogue_layer_metadata.created_at }}
            </div>

            <div class='col-3'>
                Name
            </div>
            <div class='col-9 p-1'>
                    {{ catalogue_layer_metadata.catalogue_entry.name }}
            </div>

            <div class='col-3'>
                Additional Data
            </div>
            <div class='col-9 p-1'>
                {% for key, value in catalogue_layer_metadata.additional_data.items %}
                    <div class="row">
                        <div class="col-3">
                            {{ key }}:
                        </div>
                        <div class="col-9">
                            {{ value }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
      kbcatalogue_metadata.init_catalogue_metadata();
</script>