<div class="modal fade" id="common-entity-modal" tabindex="-1" aria-labelledby="CommonEntityModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-xl">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="common-entity-modal-label">Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body col-12">
                    <div class="alert alert-danger" role="alert" id='common-entity-modal-error' style='display:none'> </div>
                    <div id='common-entity-modal-content'></div>
                    <div id='common-entity-modal-table' disabled>
                         {% include 'govapp/common_entity_modal_table.html' %}
                    </div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id='common-entity-modal-submit-btn'>Submit</button>
                    <button type="button" class="btn btn-danger btn-ok" id="common-entity-modal-delete-btn">Delete</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="common-entity-modal-cancel-btn">Cancel</button>
               </div>
          </div>
     </div>
     </form>
</div>

<div class="modal fade" id="common-alert-modal" tabindex="-1" aria-labelledby="CommonEntityModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-l">
          <div class="modal-content">
               <div class="modal-header bg-danger">
                    <h5 class="modal-title text-white" id="common-alert-modal-label">Error Occurred</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body col-12">
                    <div class="alert alert-danger" role="alert" id='common-alert-modal-error' style='display:none'> </div>
                    <div id='common-alert-modal-content'></div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="common-alert-modal-cancel-btn">Close</button>
               </div>
          </div>
     </div>
</div>

<div class="modal fade" id="common-progress-modal" tabindex="-1" aria-labelledby="CommonEntityModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-l">
          <div class="modal-content m-3">
               </br>     
               <h5 class="modal-title text-center" id="common-progress-modal-label">Downloading a file...</h5>
               </br>
               <div class="progress m-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
               </div>
              </br>
          </div>
     </div>
</div>