<div class="modal fade " id="confirmation-delete-modal" tabindex="-1" ataria-labelledby="DeleteModal"
      aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation of Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="alert alert-danger" role="alert" id='delete-popup-error'
                              style='display:none'>
                        </div>
                        <div class="alert alert-success" role="alert" id='delete-popup-success'
                              style='display:none'>
                        </div>
                  </div>
                  <div id='publish-new-div'>

                        <div class='col-12 round-box px-3 ' id='publish-new-form'>
                              <div class='row'>
                                    <div class="modal-body">
                                          <p>You are about to delete one track, this procedure is irreversible.</p>
                                          <p>Do you want to proceed?</p>
                                          <p id="delete_target"></p>
                                    </div>

                                    <div class="modal-footer">
                                          <button type="button" class="btn btn-default"
                                                data-bs-dismiss="modal">Cancel</button>
                                          <a class="btn btn-danger btn-ok" id="btn-delete-confirm">Delete</a>
                                    </div>

                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>