<div class="modal fade" id="common-entity-modal" tabindex="-1" aria-labelledby="CommonEntityModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-xl">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="common-entity-modal-label">Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body col-12">
                    <div class="alert alert-danger" role="alert" id='common-entity-modal-error' style='display:none'> </div>
                    <div id='common-entity-modal-content'></div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id='common-entity-modal-submit-btn'>Submit</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" d="common-entity-modal-cancel-btn">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok" id="common-entity-modal-delete-btn">Delete</button>
               </div>
          </div>
     </div>
     </form>
</div>