
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="feedbackModalLabel">Operation Result</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="feedbackModalBody">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<script>
    let FeedbackModal = {
        showFeedback: function(message, isSuccess) {
            const modalBody = document.getElementById('feedbackModalBody');
            modalBody.textContent = message;
            modalBody.className = isSuccess ? 'alert alert-primary' : 'alert alert-danger';
            
            $('#feedbackModal').modal('show')
        }
    }
</script>