{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      
      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">

      <div class="container" id="dashboard-table-container">

            {% include "govapp/catalogue_nav.html" %}
                  <div class="card" >
                        <div class="card-header fw-bold h4" style="padding:30px;">
                              <div class="row">
                              <div class="col-6">
                                    Layer Submissions
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>         
                  </div>
                  <div class="card-body collapse show" id="#box1-card-body">
                        <div class="col-12 bg-light p-3">
                              <B>Filters</B>
                              <div class='row'>
                                    <div class='col-12'>
                                         
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="layer-submission-status" class="form-label">Status</label>
                                                      <select type="text" class="form-control" id="layer-submission-status" >
                                                            <option value="">All</option>
                                                            <option value="1">SUBMITTED</option>
                                                            <option value="2">ACCEPTED</option>
                                                            <option value="3">DECLINED</option>
                                                            <!-- <option value="4">Draft</option> -->
                                                      </select>
                                                </div>                                                                                          
                                                <div class='col-3'>
                                                      <label for="layer-submission-name" class="form-label">Submitted From</label>
                                                      <input type="text" class="form-control" id="layer-submission-submitted-from" placeholder="not working">
                                                </div>
                                                <div class='col-3'>
                                                      <label for="layer-submission-custodian" class="form-label">Submitted To</label>
                                                      <input type="text" class="form-control" id="layer-submission-submitted-to" placeholder="not working" >
                                                </div>

                                                <div class='col-3'>                                                
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                                <div class='col-3'>
                                                      &nbsp;
                                                      
                                                </div>
                                                <div class='col-3 p-4'>
                                                      <button class="btn btn-primary btn-sm" aria-current="page" id='layer-submission-filter-btn'>Filter</button>
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>    
                              </div>                  
                        </div>                  
                        <div class='col-12 pt-2 pb-2 '>
                              <BR>
                        </div>


                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                            &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class='col-12 text-end'>
                                                      <form class="row ">
                                                            <div class="col-4 text-end">
                                                                  &nbsp;
                                                                  
                                                            </div>
                                                            <div class="col-5 text-end">
                                                                  &nbsp;
                                                            </div>
                                                            <div class="col-3 text-end">  
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">Excel</button>    
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">CSV</button>
                                                            </div>
                                                      </form>
                                                </div>
                                          </div>
                                    </div>                                    

                              </div>
                        </div>  

                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Show 
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="layer-submission-limit">
                                                                        <option value="5">5</option>
                                                                        <option value="10" selected>10</option>
                                                                        <option value="25">25</option>
                                                                        <option value="50">50</option>
                                                                        <option value="100">100</option>
                                                                  </select> entries
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-12 text-end">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Order By 
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="layer-submission-order-by">
                                                                        <option value="id">ID</option>
                                                                        <option value="name">Name</option>
                                                                        <option value="status">Status</option>
                                                                        <option value="updated_at">Last Updated</option>                                                                        
                                                                        <option value="assigned_to">Assigned To</option>
                                                                        <option value="custodian">Custodian</option>
                                                                  </select> 
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>                                    
                              </div>
                        </div>     
                        <div id='layersubmission-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Submitted datetime</th>
                                          <!-- <th>Time</th> -->
                                          <th>Catalogue</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='layersubmission-tbody'>
                                    <tr>
                                          <td colspan="7" class='text-center'>No Results</td>
                                    </tr>
                                    </tbody>
                              </table>   
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id='paging_navi'>
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                              </nav>                               
                        </div>           
                        
                  </div>
            </div>

      </div>
      <script>
            kblayersubmission.init_dashboard();      
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
