{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      
      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">

      <div class="container" id="dashboard-table-container">

            {% include "govapp/catalogue_nav.html" %}
                  <div class="card" >
                        <div class="card-header fw-bold h4" style="padding:30px;">
                              <div class="row">
                              <div class="col-6">
                                    Layer Submissions
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>         
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="col-12 bg-light p-3">
                              <B>Filters</B>
                              <div class='row'>
                                    <div class='col-12'>
                                         
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="layer-submission-status" class="form-label">Status</label>
                                                      <select type="text" class="form-control" id="layer-submission-status" >
                                                            <option value="">All</option>
                                                            <option value="1">SUBMITTED</option>
                                                            <option value="2">ACCEPTED</option>
                                                            <option value="3">DECLINED</option>
                                                            <!-- <option value="4">Draft</option> -->
                                                      </select>
                                                </div>                                                                                          
                                                <div class='col-3'>
                                                      <label for="layer-submission-submitted-from" class="form-label">Submitted From</label>
                                                      <input type="text" class="form-control" id="layer-submission-submitted-from" placeholder="Select Date" >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="layer-submission-submitted-to" class="form-label">Submitted To</label>
                                                      <input type="text" class="form-control" id="layer-submission-submitted-to" placeholder="Select Date"  >
                                                </div>
                                          </div>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="layer-submission-name" class="form-label">Name</label>
                                                      <input type="text" class="form-control" id="layer-submission-name">
                                                </div>
                                                <div class='col-6'>                                                
                                                </div>
                                                <div class='col-3 p-4'>
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='layer-submission-filter-btn'>Filter</button>
                                                &nbsp;
                                          </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <!-- <div class='row'>
                              <div class='col-12 text-end'>
                                    <button class="btn btn-secondary btn-sm" aria-current="page" href="#">Excel</button>    
                                    <button class="btn btn-secondary btn-sm" aria-current="page" href="#">CSV</button>
                              </div>
                        </div> -->

                        <div class='row'>
                              <div class='col-8'>
                                    <div class="dataTables_length" id="bookings-table_length">
                                          <label>Show 
                                                <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="layer-submission-limit">
                                                      <option value="5">5</option>
                                                      <option value="10">10</option>
                                                      <option value="25" selected>25</option>
                                                      <option value="50">50</option>
                                                      <option value="100">100</option>
                                                </select> entries
                                          </label>
                                    </div>
                              </div>
                              <div class='col-2 text-end'>
                                    <div class="dataTables_length" id="bookings-table_length">
                                          <label>Ordering Direction</label>
                                          <select name="catalogue-ordering-direction" aria-controls="catalogue-ordering-direction" class="form-select form-select-sm" id="catalogue-ordering-direction" >
                                                <option value="asc">Ascending</option>
                                                <option value="desc">Descending</option>
                                          </select> 
                                    </div>
                              </div>
                              <div class='col-2 text-end'>
                                    <div class="dataTables_length" id="bookings-table_length">
                                          <label>Order By 
                                                <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="layer-submission-order-by">
                                                      <option value="id">ID</option>
                                                      <option value="name">Name</option>
                                                      <option value="submitted_at">Submitted date</option>                                                                        
                                                      <option value="status">Status</option>
                                                </select> 
                                          </label>
                                    </div>
                              </div>
                        </div>
                        <div id='layersubmission-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Catalogue Entry</th>
                                          <th>Permission Type</th>
                                          <th>Submitted At</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='layersubmission-tbody'>
                                    <tr>
                                          <td colspan="6" class='text-center'>No Results</td>
                                    </tr>
                                    </tbody>
                              </table>   
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id='paging_navi'>
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                              </nav>                               
                        </div>           
                        
                  </div>
            </div>

      </div>
      <style>
      .public-icon, .restricted-icon{
            width: 16px;
            height: 16px;
            fill: gray;
            color: gray;
            margin-right: .5em;
      }
      </style>
      <script>
            kblayersubmission.init_dashboard();      
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
