{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/common_entity_modal.html" %}
      
      <div class="container" id="dashboard-table-container">
 
        {% include "govapp/catalogue_nav.html" %}
                  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">

                  <div class="card" >
                        <div class="card-header fw-bold h4" style="padding:30px;">
                              <div class="row">
                              <div class="col-6">
                                    Layer Subscriptions
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="bg-light p-2">
                              <strong>Filters</strong>
                              <div class='row mb-3'>
                                    <div class='col-3'>
                                          <label for="layer-subscription-name">Name</label>
                                          <input type="text" class="form-control" id="subscription-name" >
                                    </div>
                                    <div class='col-3'>
                                          <label for="subscription-workspace">Workspace</label>
                                          <select type="text" class="form-control" id="layer-subscription-workspace" >
                                                <option value="">All</option>
                                                <option value="1">Private</option>
                                                <option value="2">Public</option>
                                          </select>
                                    </div>
                                    <div class='col-3'>
                                          <label for="subscription-enabled">Enabled</label>
                                          <select type="text" class="form-control" id="subscription-enabled" >
                                                <option value="">All</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                          </select>
                                    </div>
                              </div>
                              <div class='row mb-3'>
                                    <div class='col-3'>
                                          <label for="subscription-updated-from">Updated From</label>
                                          <input type="text" class="form-control" id="subscription-updated-from"  placeholder="Select Date"  >

                                    </div>
                                    <div class='col-3'>
                                          <label for="subscription-updated-to">Updated To</label>
                                          <input type="text" class="form-control" id="subscription-updated-to" placeholder="Select Date"  >
                                    </div>
                                    <div class='col-3'>
                                          <label for="subscription-type">Type</label>
                                          <select type="text" class="form-control" id="subscription-type" >
                                                <option value="">All</option>
                                                <option value="1">WMS</option>
                                                <option value="2">WFS</option>
                                                <option value="3">POST GIS</option>
                                          </select>
                                    </div>
                              </div>
                              <div class='row align-items-end'>
                                    <div class='col-3'>
                                          <label for="subscription-description">Description</label>
                                          <input type="text" class="form-control" id="subscription-description" >
                                    </div>
                                    <div class='col-3'>
                                          <label for="layer-subscription-number">Number</label>
                                          <input type="text" class="form-control" id="subscription-number" >
                                    </div>
                                    <div class='col-3'>
                                          <label for="subscription-assignedto">Assigned To</label>
                                          <select type="text" class="form-select" id="subscription-assignedto"></select>
                                    </div>
                                    <div class='col-3 text-end'>
                                          <button class="btn btn-primary btn-sm px-4" aria-current="page" id='subscription-filter-btn'>Filter</button>
                                    </div>
                              </div>
                        </div>
                        <div class='text-end my-3'>
                              {% if is_administrator %}
                                    <button class="btn btn-primary btn-sm" aria-current="page" id='subscription-new-btn'>Create New Subscription</button>
                              {% endif %}
                        </div>

                        <div class='row mb-2'>
                              <div class="col-2">
                                    <label>Show</label>
                                    <div class="d-flex align-items-center">
                                          <select aria-controls="bookings-table" class="form-select form-select-sm me-2" id="subscription-limit">
                                          <option value="5">5</option>
                                          <option value="10">10</option>
                                          <option value="25" selected>25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                          </select>
                                          <span>entries</span>
                                    </div>
                              </div>
                              <div class='col-2 text-end offset-6'>
                                    <label>Ordering Direction</label>
                                    <select aria-controls="catalogue-ordering-direction" class="form-select form-select-sm" id="subscription-ordering-direction">
                                          <option value="asc">Ascending</option>
                                          <option value="desc">Descending</option>
                                    </select> 
                              </div>
                              <div class='col-2 text-end'>
                                    <label>Order By</label> 
                                    <select aria-controls="bookings-table" class="form-select form-select-sm"  id="subscription-order-by">
                                          <option value="id">Number</option>
                                          <option value="name">Name</option>
                                          <option value="status">Status</option>
                                          <option value="type">Type</option>
                                          <option value="workspace">Workspace</option>
                                          <option value="enabled">Enabled</option>
                                          <option value="updated_at">Updated at</option>
                                          <option value="assigned_to">Assigned to</option>
                                    </select> 
                              </div>
                        </div>
                        <div id='subscription-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                          <tr>
                                                <th>Number</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Type</th>
                                                <th>Workspace</th>
                                                <th>Enabled</th>
                                                <th>Updated_at</th>
                                                <th>Assigned to</th>
                                                <th class="text-center">Action</th>
                                          </tr>
                                    </thead>
                                    <tbody id='subscription-tbody'>
                                          <tr>
                                                <td colspan="7" class='text-center'>No Results</td>
                                          </tr>
                                    </tbody>
                              </table>
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id='subscription-navi'>
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                              </nav>
                        </div>
                  </div>
                  <input type="hidden" id="is-administrator" name="is_administrator" value="{{ is_administrator  }}">
            </div>
      </div>
      <script>
            kblayersubscription.init_dashboard();
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
