{% extends 'govapp/base.html' %}

{% block content %}
{% if request.user.is_authenticated is True %}

{% include "govapp/manage_editors_modal.html" %}
{% include "govapp/common_entity_modal.html" %}

<div class="container" id="dashboard-table-container">
      <div class='row'>
            <div class='col-12'>
                  <h5>Layer Submission</h5>
                  <h3>LM{{ layer_submission_obj.id }}: {{ layer_submission_obj.name }}</h3>
            </div>
            <!-- <div class='col-3 text-end'>
                  <button class='btn btn-primary btn-sm' id='catalogue-manage-editors-btn' style="display:none">Manage Editors</button>
            </div> -->
      </div>

      <div class='row'>
            <div class='col-3'>
                  <div class='col-12 border mb-2'>
                        <div class='col-12 text-center bg-light p-2 border-bottom fw-bold'>
                              Logs
                        </div>
                        <!-- <div class='col-12 p-3 border-bottom'>
                              <p><b>Communication</b><br>
                                    <a href='#' id='log_communication_show'>Show</a> | <a href='#' id='log_communication_add'>Add Entry</a>
                              </p>
                        </div> -->
                        <div class='col-12 p-3'>
                              <p><b>Actions</b><br>
                                    <a href='#' id='log_actions_show'>Show</a>
                              </p>
                        </div>
                  </div>
                  <div class='col-12 border'>
                        <div class='col-12 text-center bg-light p-2 border-bottom fw-bold'>
                              Workflow
                        </div>
                        <div class='col-12 p-3 border-bottom'>
                              <b>Status</b><br>
                              {{ layer_submission_obj.status_name }}
                        </div>
                  </div>
            </div>
            <div class='col-9'>
                  <ul class="nav nav-tabs">
                        <li class="nav-item">
                              <a class="nav-link {% if tab == 'details' %}active{% endif %}" aria-current="page" href="/layer/submission/{{ layer_submission_obj.id }}/details/">Details</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link {% if tab == 'attributes' %}active{% endif %}" aria-current="page" href="/layer/submission/{{ layer_submission_obj.id }}/attributes/">Attributes</a>
                        </li>
                        {% if accessible_to_map %}
                        <li class="nav-item">
                              <a class="nav-link {% if tab == 'map' %}active{% endif %}" aria-current="page" href="/layer/submission/{{ layer_submission_obj.id }}/map/">Map</a>
                        </li>
                        {% endif %}
                  </ul>

                  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
                  <input type="hidden" id="catalogue_entry_id" name="catalogue_entry_id"
                        value="{{ id  }}">
                  <input type="hidden" id="has_edit_access" name="has_edit_access" value="{{ has_edit_access  }}">
                  <input type="hidden" id="pagetab" name="pagetab" value="{{ tab  }}">
                  <input type="hidden" id="layer_submission_obj_id" name="layer_submission_obj_id" value="{{ layer_submission_obj.id }}">
                  {% if tab == "details" %}
                        {% include "govapp/layer_submissions_view_details.html" %}
                  {% elif tab == "attributes" %}
                        {% include "govapp/layer_submissions_view_attributes.html" %}
                  {% elif tab == "map" %}
                        {% if accessible_to_map %}
                              {% include "govapp/layer_submissions_view_map.html" %}
                        {% endif %}
                  {% endif %}
            </div>
      </div>
      <style>
      .public-icon, .restricted-icon{
            width: 16px;
            height: 16px;
            fill: gray;
            color: gray;
            margin-right: .5em;
      }
      </style>

      <script>
            kblayersubmission.init_submission_view();
      </script>
      {% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied. You are not authenticated.</h3>
      </div>
      {% endif %}
      {% endblock %}