{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/common_entity_modal.html" %}
      
      <div class="container" id="dashboard-table-container">
 
        {% include "govapp/catalogue_nav.html" %}
                  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">

                  <div class="card" >
                        <div class="card-header fw-bold h4" style="padding:30px;">
                              <div class="row">
                              <div class="col-6">
                                    Layer Subscriptions
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>         
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="col-12 bg-light p-3">
                              <B>Filters</B>
                              <div class='row'>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="layer-subscription-name" class="form-label">Name</label>
                                                      <input type="text" class="form-control" id="subscription-name" >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="subscription-workspace" class="form-label">Workspace</label>
                                                      <select type="text" class="form-control" id="subscription-workspace" >
                                                            <option value="">All</option>
                                                            <option value="1">Private</option>
                                                            <option value="2">Public</option>
                                                      </select>
                                                </div>
                                                <div class='col-3'>
                                                      <label for="subscription-enabled" class="form-label">Enabled</label>
                                                      <select type="text" class="form-control" id="subscription-enabled" >
                                                            <option value="">All</option>
                                                            <option value="true">True</option>
                                                            <option value="false">False</option>
                                                      </select>
                                                </div>
                                                <div class='col-3'>                                                
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="subscription-updated-from" class="form-label">Updated From</label>
                                                      <input type="text" class="form-control" id="subscription-updated-from"  placeholder="Select Date"  >

                                                </div>
                                                <div class='col-3'>
                                                      <label for="subscription-updated-to" class="form-label">Updated To</label>
                                                      <input type="text" class="form-control" id="subscription-updated-to" placeholder="Select Date"  >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="subscription-type" class="form-label">Type</label>
                                                      <select type="text" class="form-control" id="subscription-type" >
                                                            <option value="">All</option>
                                                            <option value="1">WMS</option>
                                                            <option value="2">WFS</option>
                                                            <option value="3">POST GIS</option>
                                                      </select>
                                                </div>
                                                {% comment %} <div class='col-3'>
                                                      <label for="layer-subscription-assignedto" class="form-label">Assigned To</label>
                                                      <input type="text" class="form-control" id="subscription-assignedto" placeholder="not working" >
                                                </div> {% endcomment %}
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class='col-12'>
                                    <div class='row'>
                                          <div class='col-3'>
                                                <label for="subscription-description" class="form-label">Description</label>
                                                <input type="text" class="form-control" id="subscription-description" >

                                          </div>
                                          <div class='col-3'>
                                                <label for="layer-subscription-number" class="form-label">Number</label>
                                                <input type="text" class="form-control" id="subscription-number" >
                                          </div>
                                          <div class='col-3'>
                                                <label for="subscription-assignedto" class="form-label">Assigned To</label>
                                                <select type="text" class="form-select" id="subscription-assignedto"></select>
                                          </div>
                                          <div class='col-3 p-4'>
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='subscription-filter-btn'>Filter</button>
                                                &nbsp;
                                          </div>
                                    </div>
                              </div>                        
                        </div>                  
                        <div class='col-12 pt-4'>
                              <div class='row'>
                                    <div class='col-6'>
                                          &nbsp;
                                    </div>
                                    <div class='col-6 text-end'>
                                          {% if is_administrator %}
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='subscription-new-btn'>Create New Subscription</button>
                                          {% endif %}
                                    </div>
                              </div>
                        </div>      


                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                            &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class='col-12 text-end'>
                                                      <form class="row ">
                                                            <div class="col-4 text-end">
                                                                  &nbsp;
                                                                  
                                                            </div>
                                                            <div class="col-5 text-end">
                                                                  &nbsp;
                                                            </div>
                                                            <div class="col-3 text-end">  
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">Excel</button>    
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">CSV</button>
                                                            </div>
                                                      </form>
                                                </div>
                                          </div>
                                    </div>                                    

                              </div>
                        </div>  







                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Show 
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="subscription-limit">
                                                                        <option value="10">10</option>
                                                                        <option value="25" selected>25</option>
                                                                        <option value="50">50</option>
                                                                        <option value="100">100</option>
                                                                  </select> entries
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-12 text-end">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Order By 
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm"  id="subscription-order-by">
                                                                        <option value="id">Number</option>
                                                                        <option value="name">Name</option>
                                                                        <option value="status">Status</option>
                                                                        <option value="type">Type</option>
                                                                        <option value="workspace">Workspace</option>                                                                        
                                                                        <option value="enabled">Enabled</option>
                                                                        <option value="updated_at">Updated at</option>
                                                                        <option value="assigned_to">Assigned to</option>
                                                                  </select> 
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>                                    
                              </div>
                        </div>     
                        <div id='subscription-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Status</th>
                                          <th>Type</th>
                                          <th>Workspace</th>
                                          <th>Enabled</th>
                                          <th>Updated_at</th>
                                          <th>Assigned to</th>
                                          <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='subscription-tbody'>
                                    <tr>
                                          <td colspan="7" class='text-center'>No Results</td>
                                    </tr>
                                    </tbody>
                              </table>   
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id='subscription-navi'>
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                              </nav>                               
                        </div>           
                        
                  </div>
                  <input type="hidden" id="is-administrator" name="is_administrator" value="{{ is_administrator  }}">
            </div>

      </div>
      <script>
            kblayersubscription.init_dashboard();
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
