<div class="card">
      <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                  <div class="col-6">Details</div>
                  <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body"onclick=""></i>
                  </div>
            </div>
      </div>
      <div class="card-body collapse show" id="box1-card-body">
            <div class='row'>
                  <div class='col-3'>Name</div>
                  <div class='col-9 p-1'>{{ layer_submission_obj.name }}</div>
            </div>
            <div class='row'>
                  <div class='col-3'>Submitted Datetime</div>
                  <div class='col-9 p-1'> {{ layer_submission_obj.submit_datetime }}</div>
            </div>
            {% if accessible_to_download %}
            <div class='row'>
                  <div class='col-3'>Link to file</div>
                  <div class='col-9 p-1'><a href="#" id='file_download' style="text-decoration: none;">File Download</a></div>
            </div>
            {% endif %}
            <div class='row'>
                  <div class='col-3'>Catalogue entry</div>
                  <div class='col-9 p-1'><a href="/catalogue/entries/{{ layer_submission_obj.catalogue_entry.id }}/details/" style="text-decoration: none;">CE{{ layer_submission_obj.catalogue_entry.id }}: {{ layer_submission_obj.name }}</a></div>
            </div>
            <div class='row'>
                  <div class='col-3'>Permission type</div>
                  <div class='col-9 p-1'>
                  {% if layer_submission_obj.catalogue_entry.permission_type == CatalogueEntryPermissionType.NOT_RESTRICTED.value %}
                        {% include 'govapp/public_icon.svg' %}Not restricted
                  {% elif layer_submission_obj.catalogue_entry.permission_type == CatalogueEntryPermissionType.RESTRICTED.value %}
                        {% include 'govapp/restricted_icon.svg' %}Restricted
                  {% else %}
                        ---
                  {% endif %}
                  </div>
            </div>
      </div>
</div>