{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/common_entity_modal.html" %}

      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
      <input type="hidden" id="log_file_fetching_interval_ms" name="log_file_fetching_interval_ms" value="{{ log_file_fetching_interval_ms }}">

      <div class="container" id="dashboard-table-container">
            
            <div class="card" >
                  <div class="card-header fw-bold h4" style="padding:30px;">
                        <div class="row">
                              <div class="col-1">Log:</div>
                              <div class="col-5">
                                    <select id="log-file-select" class="form-select" style="display: inline;">
                                          {% for file in log_files %}
                                                <option value="{{ file }}" {% if forloop.first %}selected{% endif %}>{{ file }}</option>
                                          {% endfor %}
                                    </select>
                              </div>
                        </div>
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="mb-2">
                              <label>
                                    <input type="checkbox" id="auto-reload-checkbox" checked> Auto Reload
                              </label>
                              <label style="margin-left: 2em;">
                                    <input type="checkbox" id="line-wrap-checkbox" checked> Wrap Lines
                              </label>
                              <label style="margin-left: 2em;">
                                    <input type="checkbox" id="auto-scroll-checkbox" checked> Auto Scroll
                              </label>
                              <label style="display: inline-block; white-space: nowrap; margin-left: 2em;">Lines: <select id="lines-count-select" class="form-select" style="display: inline;">
                                    <option value="100">100</option>
                                    <option value="500" selected>500</option>
                                    <option value="1000">1000</option>
                                    <option value="2000">2000</option>
                                    <option value="3000">3000</option>
                              </select></label>
                        </div>
                        <pre id="log-container">
                        </pre>
                  </div>
            </div>
      </div>
      
      <div id="catalogue_entry_list" data-list="{{ catalogue_entry_list }}"></div>
      <style>
            #log-container {
                  border: 1px solid #ccc;
                  padding: 10px;
                  height: 400px;
                  min-height: 200px;
                  max-height: 800px;
                  overflow-y: scroll;
                  background-color: #f9f9f9;
                  white-space: pre-wrap;
                  font-family: monospace;
                  resize: vertical;
            }
      </style>
      <script>
            // Format a log line; lines starting with "ERROR" will be red.
            function formatLine(line, filename) {
                  let formatted_line = line
                  // You may add more log file formats here according to the project's log file format.
                  if (filename.startsWith('kaartdijin_boodja') && filename.endsWith('.log')) {
                        formatted_line = formatLineKaartdijinBoodjaLog(line)
                  } else if (filename.startsWith('email') && filename.endsWith('.log')) {
                        formatted_line = formatLineEmailLog(line)
                  } else if (filename.startsWith('cronjob') && filename.endsWith('.log')) {
                        formatted_line = formatLineCronjobLog(line)
                  }
                  return '<span>' + formatted_line + '</span>';
            }

            function formatLineCronjobLog(line) {
                  let formatted = line.replace(
                        // colour datetime, etc
                        /^(\S+\s+)(\S+\s+\S+\s)(\S+\s+\S+\s+)/,
                        "$1<span style='color: green;'>$2</span><span style='color: blue;'>$3</span>"
                  );
                  formatted = colourLogLevel(formatted);
                  return formatted;
            }

            function formatLineKaartdijinBoodjaLog(line) {
                  let formatted = line.replace(
                        // colour datetime, etc
                        /^(\S+\s+)(\S+\s+\S+\s)(\S+\s+\S+\s+)/,
                        "$1<span style='color: green;'>$2</span><span style='color: blue;'>$3</span>"
                  );
                  formatted = colourLogLevel(formatted);
                  return formatted;
            }

            function formatLineEmailLog(line) {
                  let formatted = line.replace(
                        // colour datetime, etc
                        /^(\S+\s+\S+\s)(\S+\s+\S+\s+)/,
                        "<span style='color: green;'>$1</span><span style='color: blue;'>$2</span>"
                  );
                  formatted = colourLogLevel(formatted);
                  return formatted;
            }

            function colourLogLevel(line){
                  // Colour it if the following owrd is at the beginning of the line
                  line = line.replace(/^DEBUG\b/, '<span style="color: gray;">DEBUG</span>');
                  line = line.replace(/^INFO\b/, '<span style="color: dodgerblue;">INFO</span>');
                  line = line.replace(/^WARNING\b/, '<span style="color: orange;">WARNING</span>');
                  line = line.replace(/^ERROR\b/, '<span style="color: red;">ERROR</span>');
                  line = line.replace(/^CRITICAL\b/, '<span style="color: red;">CRITICAL</span>');
                  return line
            }

            let currentPosition = null;
            let displayedLines = [];
            function fetchLogs() {
                  let autoReloadEnabled = document.getElementById('auto-reload-checkbox').checked;
                  let logFileSelected = document.getElementById('log-file-select').value;
                  let linesToBeLoaded = parseInt(document.getElementById('lines-count-select').value);
                  let displayedLinesBuffer = 0;  // Maximum number of lines to be displayed is calculated as linesToBeLoaded + displayedLinesBuffer (See below)
                  let maxLinesToBeDisplayed = linesToBeLoaded + displayedLinesBuffer;

                  if (!autoReloadEnabled) {
                        // auto-reload is disabled, don't fetch logs
                        return;
                  }

                  if (!logFileSelected || logFileSelected.trim() === "") {
                        // If logFileSelected is null or its value is empty, do not fetch logs.
                        return;
                  }

                  let url = '/api/logcontents/?log_file_name=' + logFileSelected;
                  if (currentPosition === null) {
                        // On initial load, send the selected number of lines as a parameter.
                        url += '&lines_count=' + linesToBeLoaded;
                  } else {
                        url += '&last_position=' + currentPosition;
                  }
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                        const logContainer = document.getElementById('log-container');
                        let autoScroll = document.getElementById('auto-scroll-checkbox').checked;
                        let newLinesAdded = false;

                        if (data.new_lines && data.new_lines.length > 0) {
                              // Append formatted new lines to our global array
                              data.new_lines.forEach(line => {
                                    displayedLines.push(formatLine(line, logFileSelected));
                              });
                              newLinesAdded = true;
                        } else if (data.log_lines) {
                              // Initial load; replace displayedLines with formatted log lines
                              displayedLines = data.log_lines.map(line => formatLine(line, logFileSelected));
                              newLinesAdded = true;
                        }

                        let excess = 0
                        if (displayedLines.length > maxLinesToBeDisplayed) {
                              excess = displayedLines.length - maxLinesToBeDisplayed;
                              displayedLines = displayedLines.slice(excess);
                              // Remove excess old lines from the DOM (from the top)
                              for (let i = 0; i < excess; i++) {
                                    if (logContainer.firstChild) {
                                          logContainer.removeChild(logContainer.firstChild);
                                    }
                              }
                        }

                        if (data.log_lines && data.log_lines.length > 0) {
                              // For the initial load, replace entire content
                              logContainer.innerHTML = displayedLines.join('');
                        } else if (data.new_lines && data.new_lines.length > 0) {
                              // For subsequent updates, append only the new lines
                              let newContent = displayedLines.slice(-excess).join('');
                              logContainer.innerHTML += newContent;
                        }

                        if (autoScroll && newLinesAdded) {
                              // Scroll to the bottom if auto-scroll is enabled and new lines are added
                              logContainer.scrollTop = logContainer.scrollHeight;
                        }

                        // Update the current file pointer
                        currentPosition = data.current_position;
                  })
                  .catch(error => console.error("Error fetching logs:", error));
            }

            document.getElementById('line-wrap-checkbox').addEventListener('change', function() {
                  const logContainer = document.getElementById('log-container');
                  if (this.checked) {
                        // When checked, allow wrapping
                        logContainer.style.whiteSpace = "pre-wrap";
                  } else {
                        // When not checked, do not wrap; enable horizontal scrolling
                        logContainer.style.whiteSpace = "pre";
                  }
            });

            document.getElementById('log-file-select').addEventListener('change', function() {
                  currentPosition = null;
                  fetchLogs();
            });

            document.getElementById('lines-count-select').addEventListener('change', function() {
                  currentPosition = null;
                  fetchLogs();
            });

            // Initial fetch
            fetchLogs();

            // Poll every 5 seconds
            let fetching_interval_ms = parseInt(document.getElementById('log_file_fetching_interval_ms').value);
            if (fetching_interval_ms < 1000) {
                  fetching_interval_ms = 1000;  // minimum 1 second to send fetch request
            }
            setInterval(fetchLogs, fetching_interval_ms);
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
