<div class="modal fade" id="new-publish-entry-modal" tabindex="-1" aria-labelledby="CommonEntityModal"
     aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="new-publish-entry-modal-label">Create New Publish Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>

               <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id='new-publish-entry-modal-error' style='display:none'>
                    </div>
                    <div class="alert alert-success" role="alert" id='new-publish-entry-modal-success' style='display:none'>
                    </div>
                    <form>
                         <div class='row align-items-center mb-3'>
                              <div class='col-3 text-end'>
                                   <label for="" class="form-label mb-0">Catalogue Entry</label>
                              </div>
                              <div class='col-9'>
                                   <select type="text" class="form-control" id="new-publish-entry-catalogue-entry" >
                                        <option value="">Select One</option>
                                        {% for ce in catalogue_entry_list %}
                                             <option value="{{ ce.id }}">CE{{ ce.id }}: {{ ce.name }}</option>
                                        {% endfor %}
                                   </select>
                              </div>
                         </div>
                         <div class='row align-items-center mb-3'>
                              <div class='col-3 text-end'>
                                   <label for="" class="form-label mb-0">Description</label>
                              </div>
                              <div class='col-9'>
                                   <input type="text" class="form-control" id="new-publish-entry-description" value="" autocomplete="off">
                              </div>
                         </div>
                    </form>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-primary" id='new-publish-entry-modal-submit-btn'>Create</button>
                    </div>
               </div>
          </div>
     </div>
</div>
