{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/common_entity_modal.html" %}
      {% include "govapp/new_publish_entry_modal.html" %}

      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
      <input type="hidden" id="is_administrator" name="is_administrator" value="{{ is_administrator  }}">

      <div class="container" id="dashboard-table-container">
            
            <div class="card" >
                  <div class="card-header fw-bold h4" style="padding:30px;">
                        <div class="row">
                        <div class="col-6">
                              Publish
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                        </div>
                  </div>         
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="col-12 bg-light p-3">
                              <B>Filters</B>
                              <div class='row'>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="publish-name" class="form-label">Name</label>
                                                      <input type="text" class="form-control" id="publish-name" >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="publish-custodian" class="form-label">Custodian</label>                                                      
                                                      <select type="text" class="form-select" id="publish-custodian" >
                                                      </select>
                                                                                                    
                                                </div>
                                                <div class='col-3'>
                                                      <label for="publish-status" class="form-label">Status</label>
                                                      <select type="text" class="form-control" id="publish-status" >
                                                            <option value="">All</option>
                                                            <option value="1">Locked</option>
                                                            <option value="2">Unlocked</option>
                                                      </select>
                                                </div>
                                                <div class='col-3'>                                                
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-12'>
                                          <div class='row'>
                                                <div class='col-3'>
                                                      <label for="publish-lastupdatedfrom" class="form-label">Last Updated From</label>
                                                      <input type="text" class="form-control" id="publish-lastupdatedfrom"  placeholder="Select Date"  >

                                                </div>
                                                <div class='col-3'>
                                                      <label for="publish-lastupdatedto" class="form-label">Last Updated To</label>
                                                      <input type="text" class="form-control" id="publish-lastupdatedto" placeholder="Select Date"  >
                                                </div>
                                                <div class='col-3'>
                                                      <label for="publish-assignedto" class="form-label">Assigned To</label>
                                                      <select type="text" class="form-select" id="publish-assignedto" >
                                                      </select>                                                      
                                                </div>
                                                <div class='col-3'>
                                                      &nbsp;
                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class='col-12'>
                                    <div class='row'>
                                          <div class='col-3'>
                                                <label for="e1" class="form-label">Description</label>
                                                <input type="text" class="form-control" id="publish-description" >

                                          </div>
                                          <div class='col-3'>
                                                <label for="publish-number" class="form-label">Number</label>
                                                <input type="text" class="form-control" id="publish-number" >
                                          </div>
                                          <div class='col-3'>
                                                &nbsp;
                                                
                                          </div>
                                          <div class='col-3 p-4'>
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='publish-filter-btn'>Filter</button>
                                                &nbsp;
                                          </div>
                                    </div>
                              </div>                        
                        </div>                  

                        <div class='col-12 pt-4'>
                              <div class='row'>
                                    <div class='col-6'>
                                          &nbsp;
                                    </div>
                                    <div class='col-6 text-end'>
                                          {% if is_administrator %}
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='create-new-publish-entry-btn'>Create New Publish Entry</button>
                                          {% endif %}
                                    </div>
                              </div>
                        </div>      

                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                            &nbsp;
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class='col-12 text-end'>
                                                      <form class="row ">
                                                            <div class="col-12 text-end">  
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">Excel</button>    
                                                                  <button class="btn btn-secondary btn-sm" aria-current="page" href="#">CSV</button>
                                                            </div>
                                                      </form>
                                                </div>
                                          </div>
                                    </div>                                    
                              </div>
                        </div>  

                        <div class='col-12 pt-2 pb-2 '>
                              <div class='row'>
                                    <div class='col-6'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Show
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="publish-limit">
                                                                        <option value="5">5</option>
                                                                        <option value="10">10</option>
                                                                        <option value="25" selected>25</option>
                                                                        <option value="50">50</option>
                                                                        <option value="100">100</option>
                                                                  </select> entries
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class='col-6 text-end'>
                                          <div class="row">
                                                <div class="col-sm-12 col-md-12 text-end">
                                                      <div class="dataTables_length" id="bookings-table_length">
                                                            <label>Order By 
                                                                  <select name="bookings-table_length" aria-controls="bookings-table" class="form-select form-select-sm" id="publish-order-by">
                                                                        <option value="id">ID</option>
                                                                        <option value="name">Name</option>
                                                                        <option value="status">Status</option>
                                                                        <option value="updated_at">Last Updated</option>
                                                                        <option value="published_at">Last Published</option>
                                                                        <option value="assigned_to">Assigned To</option>
                                                                        <option value="custodian">Custodian</option>
                                                                  </select> 
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>   
 
                        <div id='publish-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Custodian</th>
                                          <th>Status</th>
                                          <th>Last Updated</th>
                                          <th>Assigned To</th>
                                          <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='publish-tbody'>
                                    <tr>
                                          <td colspan="7" class='text-center'>No Results</td>
                                    </tr>
                                    </tbody>
                              </table>  
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id="paging_navi">
                                      <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul> -->
                              </nav>  
                              
                        </div>           
                        
                  </div>
            </div>

      </div>
      
      <div id="catalogue_entry_list" data-list="{{ catalogue_entry_list }}"></div>

      {% include "govapp/publish_style.html" %}

      <script>
            kbpublish.init_dashboard();
            $(document).ready(function () {
                 // $('#example').DataTable();
            });
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
