{% extends 'govapp/base.html' %}

{% block content %}
      {% if request.user.is_authenticated is True %}

            {% include "govapp/manage_editors_modal.html" %}
            {% include "govapp/publish_view_create_update_geoserver.html" %}
            {% include "govapp/publish_view_new_cddp.html" %}
            {% include "govapp/publish_view_new_ftp.html" %}
            {% include "govapp/common_entity_modal.html" %}
            {% include "govapp/publish_style.html" %}
            {% include "govapp/confirmation_modal.html" %}

            <div class="container" id="dashboard-table-container">
                  <div class='row'>
                        <div class='col-6'>
                              <h5>Publish Entry</h5>
                              <h3>PE{{ publish_entry_obj.id }}: {{ publish_entry_obj.name }}</h3>
                        </div>
                        <div class='col-6 text-end'>
                              <button class='btn btn-primary btn-sm' id='publish-manage-editors-btn' style="display:none">Manage Editors</button>
                        </div>
                  </div>

                  <div class='row'>
                        <div class='col-3'>
                              <div class='border mb-3'>
                                    <div class='col-12 text-center bg-light p-2 border-bottom fw-bold'>
                                          Logs
                                    </div>
                                    <!-- <div class='col-12 p-3 border-bottom'>
                                          <p><b>Communication</b><br>
                                          <a href='#' id="log_communication_show">Show</a> | <a href='#' id="log_communication_add">Add Entry</a></p>
                                    </div> -->
                                    <div class='p-3'>
                                          <p><b>Actions</b><br>
                                          <a href='#' id="log_actions_show">Show</a></p>
                                    </div>
                              </div>
                              <div class='border'>
                                    <div class='text-center bg-light p-2 border-bottom fw-bold'>
                                          Workflow
                                    </div>
                                    <div class='p-3 border-bottom'>
                                          <div>
                                                <strong>Status</strong>
                                          </div>
                                          {% if publish_entry_obj.status == 1 %}
                                                Locked
                                          {% else %}
                                                Unlocked
                                          {% endif %}
                                          <div>
                                                <strong>Currently assigned to</strong>
                                          </div>
                                          
                                          <div class='text-end'>
                                                <select class='form-control' id="publish-assigned-to">
                                                      <option value=''>-- Select One --</option>
                                                      {% for su in system_users %}
                                                            {% if publish_entry_obj.assigned_to.id == su.id %}
                                                                  <option value='{{ su.id }}' selected>{{ su.first_name }} {{ su.last_name }}</option>
                                                            {% else %}
                                                                  <option value='{{ su.id }}'>{{ su.first_name }} {{ su.last_name }}</option>
                                                            {% endif %}
                                                      {% endfor %}
                                                </select>
                                                <button class='btn btn-primary btn-sm mt-1' id='publish-assigned-to-btn' href=''>Assign</button>
                                          </div>
                                    </div>

                                    {% if show_lock_unlock_btn %}
                                    <div class='p-3'>
                                          <div><b>Actions</b></div>
                                          {% if publish_entry_obj.status == 1 %}
                                                <div class="mb-2"><button class='btn btn-primary btn-sm w-50' id='publish-unlock'>Unlock</button></div>
                                                {% if publishable_to_geoserver %}
                                                      {% if num_of_geoserver_publish_channels_active > 0 or num_of_geoserver_publish_channels_inactive %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-geoserver'>Publish Geoserver (<img src="/static/admin/img/icon-yes.svg" alt="True">{{ num_of_geoserver_publish_channels_active }}, <img src="/static/admin/img/icon-no.svg" alt="False">{{ num_of_geoserver_publish_channels_inactive }})</button></div>
                                                      {% else %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-geoserver' disabled>Publish Geoserver (<img src="/static/admin/img/icon-yes.svg" alt="True">{{ num_of_geoserver_publish_channels_active }}, <img src="/static/admin/img/icon-no.svg" alt="False">{{ num_of_geoserver_publish_channels_inactive }})</button></div>
                                                      {% endif %}
                                                {% endif %}

                                                {% if publishable_to_cddp %}
                                                      {% if num_of_cddp_publish_channels > 0 %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-cddp'>Publish CDDP ({{ num_of_cddp_publish_channels }})</button></div>
                                                      {% else %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-cddp' disabled>Publish CDDP ({{ num_of_cddp_publish_channels }})</button></div>
                                                      {% endif %}
                                                {% endif %}

                                                {% if publishable_to_ftp %}
                                                      {% if num_of_ftp_publish_channels > 0 %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-ftp'>Publish FTP ({{ num_of_ftp_publish_channels }})</button></div>
                                                      {% else %}
                                                            <div class="mb-2" style="position: relative;"><button class='btn btn-primary btn-sm w-100' id='publish-to-ftp' disabled>Publish FTP ({{ num_of_ftp_publish_channels }})</button></div>
                                                      {% endif %}
                                                {% endif %}
                                          {% else %}
                                                <div class="mb-2"><button class='btn btn-primary btn-sm w-50' id='publish-lock'>Lock</button></div>
                                          {% endif %}
                                    </div>
                                    {% endif %}
                              </div>
                        </div>
                        <div class='col-9'>
                              <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                              <input type="hidden" id="publish_id" name="publish_id" value="{{ publish_id  }}">
                              <input type="hidden" id="has_edit_access" name="has_edit_access" value="{{ has_edit_access }}">
                              
                              <div class="card mb-3" >
                              <div class="card-header fw-bold h4" style="padding:30px;">
                                    <div class="row">
                                    <div class="col-6">
                                          Details
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                                    </div>
                                    </div>
                              </div>
                              <div class="card-body collapse show" id="box1-card-body">
                                    <div class='row'>
                                          <div class='col-3'>
                                                Name
                                          </div>
                                          <div class='col-5 p-1'>
                                                {% if has_edit_access is True %}
                                                      <input type="text" readonly class="form-control-plaintext" id="publish-name" value="{{ publish_entry_obj.name }}" >
                                                {% else %}
                                                      {{ publish_entry_obj.name }}
                                                {% endif %}
                                          </div>
                                          <div class='col-4'>
                                                &nbsp;
                                          </div>                        

                                          <div class='col-3'>
                                                Catalogue entry 
                                          </div>
                                          <div class='col-5 p-1'>
                                                {% if has_edit_access is True %}
                                                <select type="text" class="form-control" id="publish-catalogue-entry" >
                                                      <option value="">Select One</option>
                                                      {% for ce in catalogue_entry_list %}
                                                            {% if publish_entry_obj.catalogue_entry.id == ce.id %}
                                                                  <option value="{{ ce.id }}" selected>{{ ce.name }}</option>
                                                            {% else %}
                                                                  <option value="{{ ce.id }}">{{ ce.name }}</option>
                                                            {% endif %}
                                                      {% endfor %}                                                            
                                                </select>
                                                {% else %}
                                                      {{ publish_entry_obj.catalogue_entry.name }}
                                                {% endif %}
                                          </div>
                                          <div class='col-4'>
                                                &nbsp;
                                          </div> 

                                          <div class='col-3'>
                                                Custodian
                                          </div>
                                          <div class='col-5 p-1'>
                                                {% if has_edit_access is True %}                                          
                                                      <select type="text" class="form-control" id="publish-custodian-entry" disabled style='display:none'>
                                                            <option value="">Select One</option>
                                                            {% for cd in custodians_obj %}
                                                                  {% if publish_entry_obj.catalogue_entry.custodian.id == cd.id %} 
                                                                        <option value="{{ cd.id }}" selected>{{ cd.name }}</option>
                                                                  {% else %}
                                                                        <option value="{{ cd.id }}">{{ cd.name }}</option>
                                                                  {% endif %}
                                                            {% endfor %}                                                            
                                                      </select>
                                                      {{ publish_entry_obj.catalogue_entry.custodian.name }}
                                                {% else %}
                                                      {{ publish_entry_obj.catalogue_entry.custodian.name }}
                                                {% endif %}
                                          </div>
                                          <div class='col-4'>
                                                &nbsp;
                                          </div>       

                                          <div class='col-3'>
                                                Last Updated Date Time
                                          </div>

                                          <div class='col-5 p-1'>                              
                                                {{ publish_entry_obj.updated_at }}
                                          </div>
                                          <div class='col-4'>
                                                &nbsp;
                                          </div>       
                                    </div>
                              </div>
                        </div>

                        <div class="card mb-3" >
                              <div class="card-header fw-bold h4" style="padding:30px;">
                                    <div class="row">
                                    <div class="col-6">
                                          Description
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i>
                                    </div>
                                    </div>         
                              </div>
                              <div class="card-body collapse show" id="box2-card-body">
                                    <div class='row'>
                                          <div class='col-12'>
                                                {% if has_edit_access is True %}     
                                                      <textarea class="form-control"id="publish-description" rows="3">{{ publish_entry_obj.description }}</textarea>                                    
                                                      &nbsp;
                                                {% else %}
                                                      {{ publish_entry_obj.description }}
                                                {% endif %}
                                          </div>                        
                                    </div>
                              </div>
                        </div>
                        <div class="card mb-3" >
                              <div class="card-header fw-bold h4" style="padding:30px;">
                                    <div class="row">
                                    <div class="col-6">
                                          Geoserver Publish
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box3-card-body" onclick=""></i>
                                    </div>
                                    </div>         
                              </div>
                              <div class="card-body collapse show" id="box3-card-body">
                                    <div class='row mb-1'>
                                          <div class='col-12 text-end'> 
                                                {% if has_edit_access is True %}
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='publish-new-geoserver-btn'>Create New Geoserver Publish</button>   
                                                {% endif %}
                                          </div>
                                    </div>
                                    <div id='publish-table'>
                                          <table id="example" class="table" style="width:100%">
                                                <thead class='table-dark'>
                                                <tr>
                                                      <th>ID</th>
                                                      <th>GeoServer<br/>Pool</th>
                                                      <th>Spatial<br/>Format</th>
                                                      <th>Frequency<br/>Type</th>
                                                      <th>Workspace</th>
                                                      <th>Store<br/>Type</th>
                                                      <th>Publish<br/>Date/time</th>
                                                      <th>Active</th>
                                                      <th>Action</th>
                                                </tr>
                                                </thead>
                                                      <tbody id='publish-geoserver-tbody'>
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                        </div>

                        {% if publishable_to_cddp %}
                              <div class="card mb-3" >
                                    <div class="card-header fw-bold h4" style="padding:30px;">
                                          <div class="row">
                                          <div class="col-6">
                                                CDDP Publish
                                          </div>
                                          <div class="col-6 text-end">
                                                <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box4-card-body" onclick=""></i>
                                          </div>
                                          </div>         
                                    </div>
                                    <div class="card-body collapse show" id="box4-card-body">
            
                                          <div class='col-12 p-1'>
                                                <div class='row'>
                                                      <div class='col-6'> 
                                                            &nbsp;
                                                      </div>
                                                      <div class='col-6 text-end'> 
                                                            {% if has_edit_access is True %}
                                                                  <button class="btn btn-primary btn-sm" aria-current="page" id='publish-new-cddp-btn'>Create New CDDP Publish</button>   
                                                            {% endif %}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class='col-12'>
                                                
                                                <div id='publish-table'>
                                                      <table id="example" class="table" style="width:100%">
                                                            <thead class='table-dark'>
                                                            <tr>
                                                                  <th>ID</th>                                                             
                                                                  <th>Spatial<br/>Format</th>
                                                                  <th>Spatial<br/>Mode</th>
                                                                  <th>Frequency<br/>Type</th>
                                                                  <th>Path</th>
                                                                  <th>Publish<br/>Date/time</th>                                      
                                                                  <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id='publish-cddp-tbody'>
                                                            </tbody>
                                                      </table>                                  
                                                </div>      
                                          </div>
                  
                                    </div>
                  
                              </div>
                        {% endif %}

                        {% if publishable_to_ftp %}
                              <div class="card mb-3" >
                                    <div class="card-header fw-bold h4" style="padding:30px;">
                                          <div class="row">
                                          <div class="col-6">
                                                FTP Publish
                                          </div>
                                          <div class="col-6 text-end">
                                                <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box6-card-body" onclick=""></i>
                                          </div>
                                          </div>         
                                    </div>
                                    <div class="card-body collapse show" id="box6-card-body">
            
                                          <div class='col-12 p-1'>
                                                <div class='row'>
                                                      <div class='col-6'> 
                                                            &nbsp;
                                                      </div>
                                                      <div class='col-6 text-end'> 
                                                            {% if has_edit_access is True %}
                                                                  <button class="btn btn-primary btn-sm" aria-current="page" id='publish-new-ftp-btn'>Create New FTP Publish</button>   
                                                            {% endif %}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class='col-12'>
                                                
                                                <div id='publish-table'>
                                                      <table id="example" class="table" style="width:100%">
                                                            <thead class='table-dark'>
                                                            <tr>
                                                                  <th>ID</th>     
                                                                  <th>Filename</th>                                             
                                                                  <th>FTP<br/>Server</th>    
                                                                  <th>Spatial<br/>Format</th>
                                                                  <th>Frequency<br/>Type</th>
                                                                  <th>Path (Directory)</th>
                                                                  <th>Publish<br/>Date/time</th>                                      
                                                                  <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id='publish-ftp-tbody'>
                                                            <tr>
                                                                  <td colspan="6" class='text-center'>No Results</td>
                                                            </tr>
                                                            </tbody>
                                                      </table>                                  
                                                </div>      
                                          </div>
                                    </div>
                              </div>
                        {% endif %}

                        <div class="card mb-3" >
                              <div class="card-header fw-bold h4" style="padding:30px;">
                                    <div class="row">
                                    <div class="col-6">
                                          Notification
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box5-card-body" onclick=""></i>
                                    </div>
                                    </div>         
                              </div>
                              <div class="card-body collapse show" id="box5-card-body">
                                    <div class="col-12 text-end">
                                    {% if has_edit_access is True %}
                                          <button class="btn btn-primary left" id='publish-btn-add-notification' aria-current="page" >Add Notification</button>
                                    {% endif %}
                                    </div>
                                    <div class='col-12 pt-2 pb-2 '>
                                          <div class='row'>
                                                <div class='col-6'>
                                                      <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                  <div class="dataTables_length" id="bookings-table_length">
                                                                        <label>Show
                                                                              <select name="bookings-table_length"
                                                                                    aria-controls="bookings-table"
                                                                                    class="form-select form-select-sm"
                                                                                    id="publish-notification-limit">
                                                                                    <option value="5">5</option>
                                                                                    <option value="10" >10</option>
                                                                                    <option value="25" selected>25</option>
                                                                                    <option value="50">50</option>
                                                                                    <option value="100">100</option>
                                                                              </select> entries
                                                                        </label>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class='col-6 text-end'>
                                                      <div class="row">
                                                            <div class="col-sm-12 col-md-12 text-end">
                                                                  <div class="dataTables_length" id="bookings-table_length">
                                                                        <label>Order By
                                                                              <select name="bookings-table_length"
                                                                                    aria-controls="bookings-table"
                                                                                    class="form-select form-select-sm"
                                                                                    id="publish-notification-order-by">
                                                                                    <option value="id">ID</option>
                                                                                    <option value="name">Name</option>
                                                                                    <option value="type">Type</option>
                                                                                    <option value="email">Email</option>
                                                                                    <option value="active">Active</option>
                                                                              </select>
                                                                        </label>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>

                                    <div id='publish-table'>
                                          <table id="example" class="table" style="width:100%">
                                                <thead class='table-dark'>
                                                      <tr>
                                                            <th class="col-1">Id</th>
                                                            <th class="col-2">Name</th>
                                                            <th class="col-2">Type</th>
                                                            <th class="col-4">Email</th>
                                                            <th class="col-1">Active</th>
                                                            <th class='col-2'>Action</th>
                                                      </tr>
                                                </thead>
                                                <tbody id='publish-notification-tbody'>
                                                      <tr>
                                                            <td colspan="7" class='text-center'>No Results</td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                          <nav aria-label="Page navigation example" id='publish-notification-pagination'>
                                                <ul class="pagination justify-content-end" id='notification-paging-navi'>
                                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                          </nav>
                                    </div>
                              </div>
                        </div>
                        <div class='col-12 pt-2'>
                              <div class='row'>
                                    <div class='col-6'>
                                          &nbsp;
                                    </div>
                                    <div class='col-6 text-end'>
                                          {% if has_edit_access is True %}
                                                <button class="btn btn-primary" id='publish-btn-save' aria-current="page" >Save</button>  
                                                <button class="btn btn-primary" id='publish-btn-save-exit'  aria-current="page" >Save and exit</button>  
                                          {% endif %}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            
            <input type="hidden" id="catalogue-name-id" name="catalogue_name" value="{{ publish_entry_obj.catalogue_entry.name }}">
            <input type="hidden" id="publish-entry-id" name="publish_entry_id" value="{{ publish_id }}">
            <div id="publish_workspace_list" data-list="{{ publish_workspace_list }}"></div>
            <input type="hidden" id="current-user" name="current_user" value="{{ request.user.id }}">
            <input type="hidden" id="catalogue-type" name="current_user" value="{{ publish_entry_obj.catalogue_entry.type }}">

            <script>
                  kbpublish.init_publish_item();
                  kbpublish.var.publish_geoserver_pools = {{ geoserver_pool_list_json|safe }};
            </script>
      {% else %}
            <div class="container" id="dashboard-table-container">
                  <h3>Permission Denied.  You are not authenticated.</h3>
            </div>
      {% endif %}
{% endblock %}
