<div class="modal fade" id="PublishNewGeoserverModal" tabindex="-1" aria-labelledby="PublishNewGeoserverModal" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" >Publish New Geoserver 1</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id='new-publish-new-geoserver-popup-error' style='display:none'>
                    </div>
                    <div class="alert alert-success" role="alert" id='new-publish-new-geoserver-success' style='display:none'>
                    </div>
                    <form>
                         <div id='publish-new-geoserver-details'>
                              <div class='row align-items-center mb-3'>
                                   <div class='col-3 text-end'>
                                        <label for="" class="form-label mb-0">Name</label>
                                   </div>
                                   <div class='col-9'>
                                        <input type="text" readonly class="form-control-plaintext" id="new-publish-name" value="{{ publish_entry_obj.catalogue_entry.name }}" autocomplete="off">
                                   </div>
                              </div>
                              <div class='row align-items-center mb-3'>
                                   <div class='col-3 text-end'>
                                        <label for="" class="form-label mb-0">GeoServer Pool</label>
                                   </div>
                                   <div class='col-9'>
                                        <select type="text" class="form-control" id="new-publish-geoserver-pool" >
                                             <option value="">Select One</option>   
                                             {% for gsp in geoserver_pools %}                                        
                                                  <option value="{{ gsp.id }}">{{ gsp.name }}</option>
                                             {% endfor %}                                                                      
                                        </select>                                            
                                   </div>
                              </div>
                              <div class='row align-items-center mb-3'>
                                   <div class='col-3 text-end'>
                                        <label for="" class="form-label mb-0">Spatial Format</label>
                                   </div>
                                   <div class='col-9'>
                                        <select type="text" class="form-control" id="new-publish-spatial-format" >                                        
                                        <option value="" selected="">---------</option>                                           
                                        <option value="1">Wms</option>                                           
                                        <option value="2">Wms And Wfs</option>                            
                                        </select>                  
                                   </div>
                              </div>
                              <div class='row align-items-center mb-3'>
                                   <div class='col-3 text-end'>
                                        <label for="" class="form-label mb-0">Frequency Type</label>
                                   </div>
                                   <div class='col-9'>
                                        <select type="text" class="form-control" id="new-publish-frequency-type" >
                                        <option value="">Select One</option>   
                                        <option value="1">On Change</option>                               
                                        </select>                                            
                                   </div>
                              </div>
                              <div class='row align-items-center mb-3'>
                                   <div class='col-3 text-end'>
                                        <label for="" class="form-label mb-0">Workspace</label>
                                   </div>
                                   <div class='col-9'>
                                        <select type="text" class="form-control" id="new-publish-workspace" >
                                        <option value="">Select One</option>   
                                        {% for pw in publish_workspaces %}                                        
                                             <option value="{{ pw.id }}">{{ pw.name }}</option>
                                        {% endfor %}                                                                      
                                        </select>                                            
                                   </div>
                              </div>
                         </div>
                    </form>
                    <div class="modal-footer">
                         <div class='col-12 text-end'>
                              <button type="button" class="btn btn-primary booking-policy-save" id='create-publish-geoserver-btn'>Create</button>                                
                              <div class="spinner-border text-primary" role="status" style="display:none" id="newpublish-geoserver-loader-popup">
                                   <span class="visually-hidden">Loading...</span>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="modal fade" id="PublishNewGeoserverSubscriptionModal" tabindex="-1" aria-labelledby="PublishNewGeoserverSubscriptionModal" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-xl">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" >Publish New Geoserver 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id='new-publish-subscription-geoserver-popup-error' style='display:none'></div>
                    <div class="alert alert-success" role="alert" id='new-publish-subscription-geoserver-success' style='display:none'></div>
                    <form>
               </div>
               <div id='new-publish-subscription-geoserver-details'>
                    <div class='col-12 round-box px-3' id='new-publish-subscription-geoserver-box'>
                         <div class='col-12 round-box px-3 ' id='new-publish-subscription-geoserver-form'>
                              <div class='row'>
                                   <div class='col-12'>
                                        <label for="" class="form-label">Name</label>
                                        <input type="text" readonly class="form-control-plaintext" id="new-publish-subscription-name" value="{{ publish_entry_obj.catalogue_entry.name }}" autocomplete="off">
                                   </div>

                                   <div class='col-12'>
                                        <label for="" class="form-label">GeoServer Pool</label>
                                        <select type="text" class="form-control" id="new-publish-geoserver-pool" >
                                             <option value="">Select One</option>   
                                             {% for gsp in geoserver_pools %}                                        
                                                  <option value="{{ gsp.id }}">{{ gsp.name }}</option>
                                             {% endfor %}                                                                      
                                        </select>                                            
                                   </div>

                                   <div class='col-12'>
                                        <label for="" class="form-label">Workspace</label>
                                        <select type="text" class="form-control" id="new-publish-subscription-workspace" >
                                             <option value="">Select One</option>   
                                             {% for pw in publish_workspaces %}                                        
                                                  <option value="{{ pw.id }}">{{ pw.name }}</option>
                                             {% endfor %}                                                                      
                                        </select>                                            
                                   </div>
                                   <div class='col-12'>
                                        <label for="" class="form-label">SRS</label>
                                        <input type="text" class="form-control" id="new-publish-subscription-srs" value="" autocomplete="off">
                                   </div>
                                   <div class='col-12' id="new-publish-subscription-nbb">
                                        <label for="" class="form-label">Native Bounding Box(Optional)</label>
                                        <div class='row' id="new-publish-subscription-nbb-row">
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-nbb-minx-label">Min x</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-nbb-minx" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-nbb-label">Max x</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-nbb-maxx" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-nbb-miny-label">Min y</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-nbb-miny" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-nbb-maxy-label">Max y</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-nbb-maxy" autocomplete="off">
                                             </div>
                                             <div class='col-4'>
                                                  <label for="" class="form-label" id="new-publish-subscription-nbb-label">CRS</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-nbb-crs" autocomplete="off">
                                             </div>
                                        </div>
                                   </div>
                                   <div class='col-12' id="new-publish-subscription-llb">
                                        <label for="" class="form-label">Lat Lon Bounding Box(Optional)</label>
                                        <div class='row' id="new-publish-subscription-llb-row">
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-llb-label">Min x</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-llb-minx" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-llb-label">Max x</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-llb-maxx" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-llb-miny-label">Min y</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-llb-miny" autocomplete="off">
                                             </div>
                                             <div class='col-2'>
                                                  <label for="" class="form-label" id="new-publish-subscription-llb-maxy-label">Max y</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-llb-maxy" autocomplete="off">
                                             </div>
                                             <div class='col-4'>
                                                  <label for="" class="form-label" id="new-publish-subscription-llb-crs-label">CRS</label>
                                                  <input type="text" class="form-control" id="new-publish-subscription-llb-crs" autocomplete="off">
                                             </div>
                                        </div>
                                   </div>
                                   <div class='col-12'>
                                        <div class='form-check form-switch'>
                                             <label for="" class="form-label">Active</label>
                                             <input type='checkbox' class='form-check-input' id='new-publish-subscription-active' role='switch' checked>
                                       </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class='col-12 px-3'>
                    <div class='col-12'>
                         <div class='col-12'>
                              <label for="" class="form-label">&nbsp;</label>
                         </div>
                         <div class='col-12 text-end'>
                              <button type="button" class="btn btn-primary booking-policy-save" id='create-publish-subscription-geoserver-btn'>Create</button>
                              &nbsp;&nbsp;
                              <div class="spinner-border text-primary" role="status" style="display:none" id="newpublish-subscription-geoserver-loader-popup">
                                   <span class="visually-hidden">Loading...</span>
                              </div>
                              &nbsp;&nbsp;&nbsp;
                              <BR>
                         </div>
                         <BR>
                    </div>
               </div>
          </form>
          <div class="modal-footer"></div>
     </div>
</div>
</div>