{% extends 'govapp/base.html' %}

{% block content %}

{% if request.user.is_authenticated is True %}
      {% include "govapp/common_entity_modal.html" %}
      {% include "govapp/new_publish_entry_modal.html" %}

      <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
      <input type="hidden" id="is_administrator" name="is_administrator" value="{{ is_administrator  }}">

      <div class="container" id="dashboard-table-container">
            
            <div class="card" >
                  <div class="card-header fw-bold h4" style="padding:30px;">
                        <div class="row">
                              <div class="col-6">
                                    Publish Entries
                              </div>
                              <div class="col-6 text-end">
                                    <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i>
                              </div>
                        </div>
                  </div>
                  <div class="card-body collapse show" id="box1-card-body">
                        <div class="bg-light p-2">
                              <strong>Filters</strong>
                              <div class='row mb-3'>
                                    <div class='col-3'>
                                          <label for="publish-name">Name</label>
                                          <input type="text" class="form-control" id="publish-name" >
                                    </div>
                                    <div class='col-3'>
                                          <label for="publish-custodian">Custodian</label>                                                      
                                          <select type="text" class="form-select" id="publish-custodian" >
                                          </select>
                                    </div>
                                    <div class='col-3'>
                                          <label for="publish-status">Status</label>
                                          <select type="text" class="form-control" id="publish-status" >
                                                <option value="">All</option>
                                                <option value="1">Locked</option>
                                                <option value="2">Unlocked</option>
                                          </select>
                                    </div>
                              </div>

                              <div class='row mb-3'>
                                    <div class='col-3'>
                                          <label for="publish-lastupdatedfrom">Last Updated From</label>
                                          <input type="text" class="form-control" id="publish-lastupdatedfrom"  placeholder="Select Date"  >
                                    </div>
                                    <div class='col-3'>
                                          <label for="publish-lastupdatedto">Last Updated To</label>
                                          <input type="text" class="form-control" id="publish-lastupdatedto" placeholder="Select Date"  >
                                    </div>
                                    <div class='col-3'>
                                          <label for="publish-assignedto">Assigned To</label>
                                          <select type="text" class="form-select" id="publish-assignedto" >
                                          </select>
                                    </div>
                              </div>

                              <div class='row mb-3'>
                                    <div class='col-3'>
                                          <label for="e1">Description</label>
                                          <input type="text" class="form-control" id="publish-description" >
                                    </div>
                                    <div class='col-3'>
                                          <label for="publish-number">Number</label>
                                          <input type="text" class="form-control" id="publish-number" >
                                    </div>
                                    <div class='col-3 p-4'>
                                          <button class="btn btn-primary btn-sm" aria-current="page" id='publish-filter-btn'>Filter</button>
                                    </div>
                              </div>
                        </div>

                        <div class='col-12 pt-4'>
                              <div class='row'>
                                    <div class='col-6 text-end offset-6'>
                                          {% if is_administrator %}
                                                <button class="btn btn-primary btn-sm" aria-current="page" id='create-new-publish-entry-btn'>Create New Publish Entry</button>
                                          {% endif %}
                                    </div>
                              </div>
                        </div>

                        <div class='row mb-2'>
                              <div class="col-2">
                                    <label>Show</label>
                                    <div class="d-flex align-items-center">
                                          <select aria-controls="bookings-table" class="form-select form-select-sm me-2" id="publish-limit">
                                          <option value="5">5</option>
                                          <option value="10">10</option>
                                          <option value="25" selected>25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                          </select>
                                          <span>entries</span>
                                    </div>
                              </div>
                              <div class='col-2 text-end offset-6'>
                                    <label>Ordering Direction</label>
                                    <select aria-controls="catalogue-ordering-direction" class="form-select form-select-sm" id="publish-ordering-direction">
                                          <option value="asc">Ascending</option>
                                          <option value="desc">Descending</option>
                                    </select> 
                              </div>
                              <div class='col-2 text-end'>
                                    <label>Order By</label> 
                                    <select aria-controls="bookings-table" class="form-select form-select-sm" id="publish-order-by">
                                          <option value="id">ID</option>
                                          <option value="name">Name</option>
                                          <option value="status">Status</option>
                                          <option value="updated_at">Last Updated</option>
                                          <option value="published_at">Last Published</option>
                                          <option value="assigned_to">Assigned To</option>
                                          <option value="custodian">Custodian</option>
                                    </select> 
                              </div>
                        </div>
 
                        <div id='publish-table'>
                              <table id="example" class="table" style="width:100%">
                                    <thead class='table-dark'>
                                    <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Custodian</th>
                                          <th>Status</th>
                                          <th>Last Updated</th>
                                          <th>Assigned To</th>
                                          <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id='publish-tbody'>
                                    <tr>
                                          <td colspan="7" class='text-center'>No Results</td>
                                    </tr>
                                    </tbody>
                              </table>  
                              <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id="paging_navi">
                              </nav>
                        </div>
                  </div>
            </div>
      </div>
      
      <div id="catalogue_entry_list" data-list="{{ catalogue_entry_list }}"></div>

      {% include "govapp/publish_style.html" %}

      <script>
            kbpublish.init_dashboard();
      </script>
{% else %}
      <div class="container" id="dashboard-table-container">
            <h3>Permission Denied.  You are not authenticated.</h3>
      </div>
{% endif %}
{% endblock %}
