{% extends 'govapp/base.html' %}

{% block content %}


<div class="container">
<div class="card" id="person-card-box">
  <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
          <div class="col-6">
                <i class="bi bi-check-circle-fill" style="color: #08c508;"></i>&nbsp;  Vue Map 
          </div>
          <div class="col-6 text-end">
                <i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#test-vue-card-body" onclick=""></i>
          </div>
       </div>

  </div>
  <div class="card-body collapse show" id="person-card-body">

        <template lang="html" id='testmaptemplate'>
           <div class='col-12'>
            <div class="alert alert-warning" role="alert">
	         [[ message ]]
	    </div>
	     <div id="map" style="width: 600px; height: 400px;"></div>
	    <div>
	   <br> 
        </template>

        <div id="testmap"></div>
        <script src="/static/govapp/js/vue.map.test.js"></script>
  </div>
  </div>

  </div>
</div>




{% endblock %}

