{% extends 'govapp/base.html' %}
{% block content %}
{% if request.user.is_authenticated is True %}
    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
    <div class="container" id="dashboard-table-container">
        <h3>Usergroup: {{ geoserver_group.name }}</h3>

        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                    <div class="col-6">Role</div>
                    <div class="col-6 text-end"><i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i></div>
                </div>
            </div>
            <div class="card-body collapse show" id="box1-card-body">
                <div class="row">
                    <div class="col-12 text-end">
                        <button id="addGeoServerGroup" class="btn btn-primary mb-3">Add GeoServer Group</button>
                    </div>
                </div>
                <table id="geoservergroup_roles_table" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                    <div class="col-6">User</div>
                    <div class="col-6 text-end"><i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i></div>
                </div>
            </div>
            <div class="card-body collapse show" id="box2-card-body">

            </div>
        </div>
    </div>

    <script src="/static/common/js/datatables.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
    <script>
        // Namespace to avoid global scope pollution
        var MoveItemsApp = function() {
            // Initialization function
            function init() {
                console.log('in init()')
                construct_roles_table()
            }

            function construct_roles_table(){
                $('#geoservergroup_roles_table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/publish/geoservergroup/{{ geoserver_group.id }}/roles",
                        "type": "GET",
                        "dataSrc": function(data_in_json) {
                            return data_in_json;
                        }
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { "data": "active" },
                        {
                            "data": "id",
                            "render": function(data, type, row) {
                                return `
                                    <a href="/usergroup/${data}" class="btn btn-sm btn-danger">Delete</a>
                                `;
                            }
                        }
                    ],
                    "paging": false,
                    "info": false,
                    "pageLength": -1,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": false,
                    "ordering": true
                });
            }

            // Expose the init function to be called on document ready
            return init 
        };

        // Initialize the application when document is ready
        $(document).ready(function() {
            MoveItemsApp()();
        });
    </script>
{% else %}
    <div class="container" id="dashboard-table-container">
        <h3>Permission Denied.  You are not authenticated.</h3>
    </div>
{% endif %}
{% endblock %}
