<style>

.headerimg {
  background-image: url("");
  background-repeat: no-repeat;
}


</style>

<html style="'background:#f3f3f3;">
    <body  style="background:#f3f3f3; margin:0px; padding: 10px;" width='100%'>

        <table style="background:#FFFFFF; padding: 3px; margin: 10px;" width='97%'>
            <tr>
                <td>
                    <table background="" style='background: #3580ca;' width="100%">
                        <tr height='77'>
                            <td  width='350'>
                               <img height='60' src="cid:pvs_logo">
                            </td>
                            <td align='right'>
				    &nbsp;
                            </td>                     
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style='height: 600px; padding:11px;' valign='top' >
                    {{ body }}
                </td>

            </TR>
            <tr >
                <td style="color: #777; font-size: 85%; border-top: 1px solid #eee; padding-top: 12px; padding-bottom: 12px" >
                    &nbsp;&nbsp;&nbsp; v{{ version }} © Department of Biodiversity, Conservation and Attractions 
                </td>
            </TR>
        </table>
    </body>
</html>
