       <template lang="html" id='testvue'>
           <div class='col-12'>
            <div class="alert alert-warning" role="alert">
              [[ message ]]
            </div>
            <div>
              <input type="text" class="form-control" name="first-name" placeholder="" v-model="first_name">
              <input type="text" class="form-control" name="last-name" placeholder="" v-model="last_name">
              <input disabled type="text" class="form-control" name="current_time" placeholder="" v-model="current_time">
              <br>
              <label>Full Name </label>
              <div class='fw-bold' > [[ first_name ]] [[ last_name ]]</div>
            </div>
           </div>
           <div>
           <br>
           <button class='btn btn-primary' @click.prevent="showDiv()" >SHOW</button>
           <button class='btn btn-primary' @click.prevent="giveData()" >Give Data to App 2</button>
           </div>
           <br>
           <div v-if="showdiv">
                    <div class="alert alert-danger" role="alert">
                           DIV IS SHOWING
                    </div>
           </div>
          </template>
